p Returns valid paths for repository endpoints.
p Paths
  ul
    li Return repo overview
      ul
        li /repo/USERNAME/REPOSITORY
        li ex: /repo/cmoore4/bitbucket-api
        li ex: /repo/atlassian/hipchat-for-jira