h2= name 
  | - (
  = count
  |  repositories)
p Joined on 
  = joined
p Repositories:
  ul
    each repo in repos
      li 
        a(href=repo.url)= repo.name 
        | &nbsp&nbsp
        = repo.recentCommits.length
        |  recent commits